.data-picker
  .d-p-header
    h3
      text-align center
      line-height header-height - 1px
      font-size 1.2rem
      font-weight normal
      margin: 0

    button
      position absolute
      top 0
      background-color white
      border none
      color gray
      padding 0
      heigth header-height - 1px
      width 3rem

      &.d-p-close-button
        left 0

      &.d-p-conform-button
        right 0

